<!--- General Head tags
========================================================================================================== -->
<meta charset="utf-8" />
<!-- =================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- ====================================================================================================== -->
<meta name="description" content="A backend administrative panel for ServeHub" />
<!-- ====================================================================================================== -->
<meta name="keywords" content="Services, Customers, Service Providers">
<!-- ====================================================================================================== -->
<meta content="ServeHub" name="author" />
<!-- ====================================================================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- ====================================================================================================== -->
<!--- General Head tags
=========================================================================================================== -->

<!--- Open Graph needs
================================================== -->
<meta property="og:site_name" content="ServeHub">
<!--======================================================================================================= -->
<meta property="og:title" content="ServeHub" />
<!--======================================================================================================= -->
<meta property="og:description" content="A backend administrative panel for ServeHub" />
<!--======================================================================================================= -->
<meta property="og:image" itemprop="image" content="/assets/img/serve-hub-favicon.png">
<!--======================================================================================================= -->
<meta property="og:type" content="website" />
<!--======================================================================================================= -->
<meta property="og:url" content="http://localhost:9001" />
<!--======================================================================================================= -->
<!--- Open Graph needs
=========================================================================================================== -->

<!--- Twitter needs
=========================================================================================================== -->
<meta name="twitter:card" content="summary_large_image" />
<!-- ====================================================================================================== -->
<meta property="twitter:site" content="@USERNAME">
<!--======================================================================================================= -->
<meta property="twitter:creator" content="@USERNAME">
<!--======================================================================================================= -->
<meta property="twitter:title" content="ServeHub" />
<!--======================================================================================================= -->
<meta property="twitter:description" content="A backend administrative panel for ServeHub" />
<!--======================================================================================================= -->
<meta property="twitter:image" content="/assets/img/serve-hub-favicon.png">
<!--======================================================================================================= -->
<!-- Twitter needs
=========================================================================================================== -->

<!-- Favicon
=========================================================================================================== -->
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/serve-hub-favicon.png" />

<link href="/admin-assets/assets/css/loader.css" rel="stylesheet" type="text/css" />
<script src="/admin-assets/assets/js/loader.js"></script>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
<link href="/admin-assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/admin-assets/assets/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="/admin-assets/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link href="/admin-assets/plugins/animate/animate.css" rel="stylesheet" type="text/css" />
<script src="/admin-assets/plugins/sweetalerts/promise-polyfill.js"></script>
<link href="/admin-assets/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="/admin-assets/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
<link href="/admin-assets/assets/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/admin-assets/plugins/font-icons/fontawesome/css/regular.css">
<link rel="stylesheet" href="/admin-assets/plugins/font-icons/fontawesome/css/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/admin-assets/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="/admin-assets/plugins/table/datatable/custom_dt_html5.css">
<link rel="stylesheet" type="text/css" href="/admin-assets/plugins/table/datatable/dt-global_style.css">
<link href="/admin-assets/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/admin-assets/plugins/bootstrap-select/bootstrap-select.min.css">
<!-- <link href="../plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" /> -->
<!-- END GLOBAL MANDATORY STYLES -->

<!-- PAGE TITLE -->
<title><%- title %></title>