<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="provider-page">
    <div class="main-wrapper">

        <%- include('../partials/provider-header') %>


        <%- include('../partials/provider-sidebar') %>

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                        <h5>Bookings</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="provide-table">
                            <div class="table-responsive">
                                <table class="table  datatable mb-0 bookings">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>SNO</th>
                                            <th>Service</th>
                                            <th>Client</th>
                                            <th>Client Email</th>
                                            <th>Client Phone</th>
                                            <th>Client Address</th>
                                            <th>Remarks</th>
                                            <th>Booked At</th>
                                            <th>Desired Delivery Start Time</th>
                                            <th>Desired Delivery End Time</th>
                                            <th>Amount Paid</th>
                                            <th>Expected Payout</th>
                                            <th>Service Charge</th>
                                            <th>Transaction ID</th>
                                            <th>Booking Status</th>
                                            <th>Payout Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="modal fade custom-modal" id="edit-booking-status-modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Update Booking Status</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <form id="update-booking-status-form">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Booking Status *</label>
                                                <select class="select form-control required booking_status" name="booking_status">
                                                    <option>Choose Booking Status</option>
                                                    <option value="Provider Accepted">Provider Accepted</option>
                                                    <option value="Provider Rejected">Provider Rejected</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </div>
                                            <input type="hidden" class="required service_booking_id" name="service_booking_id" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-dark">Update Booking Status</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="page-wrapper subscription">
            <div class="content content-three">
                <div class="container">

                    <div class="row provider-price align-items-center"></div>

                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/scripts') %>
    <script src="/assets/js/pages/bookings.js"></script>
</body>

</html>