<div class="modal fade" id="register-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form class="register-form" action="#">
                    <div class="text-center mb-3">
                        <h3 class="mb-2">Registration</h3>
                        <p>Enter your credentials to access your account</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" name="user_full_name" class="user_full_name form-control required">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="user_email" class="user_email form-control required">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input class="form-control user_phone required" name="user_phone" id="phone" type="text">
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <label class="form-label">Password</label>
                            <p class="text-gray-6 fw-medium  mb-1">Must be 8 Characters at Least</p>
                        </div>
                        <input type="password" name="user_password" class="form-control user_password required">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input class="form-control required re_password" type="password">
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value id="remember_me">
                                <label class="form-check-label" for="remember_me">
                                    I agree to <a href="javascript:void(0);"
                                        class="text-primary text-decoration-underline">Terms of use</a> & <a
                                        href="javascript:void(0);"
                                        class="text-primary text-decoration-underline">Privacy policy</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Avatar</label>
                        <input class="form-control required user_avatar" name="user_avatar" type="file">
                    </div>
                    <input type="hidden" value="Customer" name="user_category" class=".category" />
                    <!-- <div class="mb-3">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#login-modal"
                            class="btn btn-lg btn-linear-primary w-100">Sign Up</button>
                    </div> -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-linear-primary w-100">Sign Up</button>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <p>Already have a account? <a href="javascript:void(0);" class="text-primary"
                                data-bs-target="#login-modal" data-bs-toggle="modal">Sign In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form class="login-form">
                    <div class="text-center mb-3">
                        <h3 class="mb-2">Welcome</h3>
                        <p>Enter your credentials to access your account</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control email required">
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <label class="form-label">Password</label>
                            <a href="javascript:void(0);"
                                class="text-primary fw-medium text-decoration-underline mb-1 fs-14"
                                data-bs-toggle="modal" data-bs-target="#forgot-modal">Forgot Password?</a>
                        </div>
                        <input type="password" name="password" class="form-control password required">
                    </div>
                    <!-- <div class="mb-3">
                        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value id="remembers_me">
                                <label class="form-check-label" for="remembers_me">
                                    Remember Me
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value id="otp_signin">
                                <label class="form-check-label" for="otp_signin">
                                    Sign in with OTP
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-linear-primary w-100">Sign In</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p>Don’t have a account? <a href="javascript:void(0);" class="text-primary"
                                data-bs-toggle="modal" data-bs-target="#register-modal"> Join us Today</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="provider-modal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-end pb-0 border-0">
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form id="provider-form">
                    <div class="text-center mb-3">
                        <h3 class="mb-2">Do You Want To Become A Service Provider?</h3>
                        <p>Please Fill the form below. All fields marked * are required</p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Facebook Profile URL</label>
                        <input type="text" class="form-control user_fb_url" name="user_fb_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Instagram Profile URL</label>
                        <input type="text" class="form-control user_instagram_url" name="user_instagram_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">X Profile URL</label>
                        <input type="text" class="form-control user_x_url" name="user_x_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Whatsapp Profile URL</label>
                        <input type="text" class="form-control user_whatsapp_url" name="user_whatsapp_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Youtube Profile URL</label>
                        <input type="text" class="form-control user_youtube_url" name="user_youtube_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">LinkedIn Profile URL</label>
                        <input type="text" class="form-control user_linkedin_url" name="user_linkedin_url">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Certificate Of Incoporation *</label>
                        <input type="file" class="form-control certificate_of_incoporation required" name="certificate_of_incoporation">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-lg btn-linear-primary w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>