<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="provider-dashboard-link"><i class="ti ti-layout-grid"></i><span>Dashboard</span></a>
                </li>
                <li class="">
                    <a href="services"><i class="ti ti-briefcase"></i><span>My Services</span></a>
                </li>
                <li class="">
                    <a href="bookings"><i class="ti ti-calendar-month"></i><span>Bookings</span></a>
                </li>
                <li>
                    <a href="plans"><i class="ti ti-calendar-month"></i><span>Plans
                        </span></a>
                </li>
                <!-- <li>
                    <a href="staff-list.html"><i class="ti ti-users"></i><span>Staffs</span></a>
                </li>
                <li>
                    <a href="customer-list.html"><i class="ti ti-user"></i><span>Customers</span></a>
                </li>
                <li>
                    <a href="provider-payout.html"><i class="ti ti-wallet"></i><span>Payout</span></a>
                </li>
                <li>
                    <a href="provider-holiday.html"><i class="feather-calendar"></i><span>Holidays &
                            Leave</span></a>
                </li>
                <li>
                    <a href="provider-coupons.html"><i class="ti ti-ticket"></i><span>Coupons</span></a>
                </li>
                <li>
                    <a href="provider-offers.html"><i class="ti ti-square-percentage"></i><span>Offers</span></a>
                </li>
                <li>
                    <a href="provider-reviews.html"><i class="ti ti-star"></i><span>Reviews</span></a>
                </li>
                <li>
                    <a href="provider-enquiry.html"><i class="ti ti-mail"></i><span>Enquiries</span></a>
                </li>
                <li>
                    <a href="provider-earnings.html"><i class="ti ti-cash-banknote"></i><span>Earnings</span></a>
                </li>
                <li>
                    <a href="provider-chat.html"><i class="ti ti-messages"></i><span>Chat</span></a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);"><i class="ti ti-settings"></i><span>Settings</span><span
                            class="menu-arrow"></span></a>
                    <ul>
                        <li>
                            <a href="provider-appointment-settings.html"><i
                                    class="ti ti-chevrons-right me-2"></i>Appointment</a>
                        </li>
                        <li>
                            <a href="provider-accounts-settings.html"><i
                                    class="ti ti-chevrons-right me-2"></i>Account</a>
                        </li>
                        <li>
                            <a href="provider-social-profile.html"><i class="ti ti-chevrons-right me-2"></i>Social
                                Profiles</a>
                        </li>
                        <li>
                            <a href="provider-security-settings.html"><i
                                    class="ti ti-chevrons-right me-2"></i>Security</a>
                        </li>
                        <li>
                            <a href="provider-plan.html"><i class="ti ti-chevrons-right me-2"></i>Plan &
                                Billings</a>
                        </li>
                        <li>
                            <a href="payment-settings.html"><i class="ti ti-chevrons-right me-2"></i>Payment</a>
                        </li>
                        <li>
                            <a href="provider-notifcations.html"><i
                                    class="ti ti-chevrons-right me-2"></i>Notifications</a>
                        </li>
                        <li>
                            <a href="provider-connected-apps.html"><i class="ti ti-chevrons-right me-2"></i>Connected
                                Apps</a>
                        </li>
                        <li>
                            <a href="verification.html"><i class="ti ti-chevrons-right me-2"></i>Profile
                                Verification</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-account"><i
                                    class="ti ti-chevrons-right me-2"></i>Delete
                                Account</a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <a href="javascript:void(0);" class="logout-btn"><i class="ti ti-logout-2"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>